.search {
  display: flex;
  align-items: center;
}
.search__input {
  width: 20.4rem;
  height: 3rem;
  border: none;
  border-radius: 10rem;
  font-size: 1rem;
  padding-left: 3.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #ffffff;
  background: none;
  font-family: inherit;
  color: #9baacf;
}
.search__input::placeholder {
  color: #bec8e4;
}
.search__input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}
.search__input .search__icon {
  color: #6d5dfc;
}

.search svg {
  position: relative;
  left: 45px;
}
